version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123456
      - MONGO_INITDB_DATABASE=yolo_datasets
    volumes:
      - ./mongodb/data:/data/db
    restart: unless-stopped
    networks:
      - my-network

  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data
    command: redis-server --save 60 1 --loglevel warning
    restart: unless-stopped
    networks:
      - my-network

  yolo-dataset-frontend:
    image: franklin888/yolo-frontend:dev
    container_name: yolo-dataset-frontend
    restart: unless-stopped
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
      - NEXT_PUBLIC_MINIO_ENDPOINT=http://localhost:9000
    ports:
      - "3000:3000"
    depends_on:
      - yolo-dataset-backend
    networks:
      - my-network

  # FastAPI
  yolo-dataset-backend:
    image: franklin888/yolo-backend:latest
    container_name: yolo-dataset-backend
    restart: unless-stopped
    environment:
      - SECRET_KEY="/1p$zPmWl<9;)_mAxY<)Vm#vTQ83)1<gm38JIW/++CkguhYSBWJjMCEycaWm0MYh"
      - MONGODB_URL=mongodb://admin:admin123456@mongodb:27017/yolo_datasets?authSource=admin
      - MONGO_DB_NAME=yolo_datasets
      - TEMP_DIR=/tmp/yolo_uploads
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET_NAME=yolo-datasets
      - DEBUG=false
      - LOG_LEVEL=INFO
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
      - redis
      - minio
    networks:
      - my-network

  minio:
    image: minio/minio:latest
    container_name: minio-server
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio/data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
